body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 226px;

}


nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav h3 span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;

}

nav button {
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    width: 150px;
    height: 64px;
}