/* * {
    margin: 0%;
    padding: 0%;
} */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
    margin-right: 150px;
    margin-bottom: auto;
    margin-left: 150px;

}


nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav h3 span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

nav button {
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    width: 150px;
    height: 64px;
}

/* Header section */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;


}

.heading {
    margin: auto auto 2.5px 150px;
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.heading2 {
    margin: 2.5px auto 10px 150px;
    color: #181818;

    font-size: 85px;

    font-weight: 700;
}

.paragrap {
    margin: 10px auto auto 150px;
}

header div p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.button {
    color: #FFF;
    border-radius: 5px;
    background: #FD6E0A;
    width: 200px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}

.button2 {
    color: #FD6E0A;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    width: 160px;
    height: 64px;
    background: #FFF8F3;
    font-weight: 700;
    font-size: 20px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner img {
    width: 500px;
    margin: auto 38px -5px auto;


}

.button {
    margin: 10px auto auto 150px;
    margin-right: 10px;
}

/* main section */

.main-1st-div {
    margin: 110px 200px;
    border-radius: 10px;
    background-color: #fff8f3;
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}


.main-1st-div h3 {
    align-items: center;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 15px;

}

.about-paragraph {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
}

.info-description {
    color: #474747;

    font-size: 20px;
    font-weight: 700;
    padding-bottom: 131px;
}

.info-div {
    display: flex;
    justify-content: space-around;
}

/* what-i-do */

.what-i-do {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.what-i-do-paragraph {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 350px;
    margin-left: 350px;


}

/* skill-section */
.skill-section {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;

}

.skils {
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    height: 377px;
    margin-top: 50px;

}

.skill-discription {
    padding-top: 20px;
    padding-right: 33px;
    padding-left: 33px;
    padding-bottom: 33px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding-left: 33px;
    margin-top: 38px;

}

section img {
    margin-left: 27px;
    margin-top: 30px;
}

.summary {
    margin-top: 130px;
    margin-bottom: 113px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.resume-colum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;

}

.resume-colum-title2 {
    color: #757575;
    font-size: 20px;
    font-weight: 600;

    margin-top: 5px;
    ;
}

.resume-colum-para {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.resume-container {
    display: flex;
    justify-content: space-between;

    margin-left: 100px;
    gap: 100px;


}

.resume-column2 {
    margin-right: 100px;

}

.cv-donwload {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    margin-top: 30px;


}

.cv-donwload0 {
    display: flex;
    justify-content: center;
}

.footer-section {
    display: flex;
    background-color: #FFF8F3;
    padding-left: 250px;
    gap: 50px;
    margin-top: 100px;
    justify-content: space-around;

}

.Connect {
    padding-right: 250px;
    padding-left: 100px;
}

.name-section {

    border-radius: 5px;
    background-color: #FFF;
    width: 461px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    border: none;
}

.email-section {
    border-radius: 5px;
    background-color: #FFF;
    width: 461px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    border: none;
}

.massage-section {
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background-color: #FFF;
    padding-left: 20px;
    margin-bottom: 10px;
    border: none;

}

.footer-heading {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.foooter-para {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;

}